*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    height:100vh;
    
    background-color: #FCEEF1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0px 150px;
    gap:70px;
}

.photo{
    width: 500px;
    height: 655px;
    
}
.btn-primary{
    background-color: #E55473;
    border: none;
    color: #eee2ec;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    padding: 4px;
    
   
}
.title{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}
.description{
    line-height: 20px;
    padding-bottom: 30px;
}