*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    height:100vh;
    
    background-color: #FCEEF1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo{
    width: 500px;
    height: 655px;
    
}